<div class="form-wrapper">

  <div *ngIf="idArticle; else elseBlock">
    <h1 mat-dialog-title>Редактировать статью</h1>
  </div>
  <ng-template #elseBlock>
    <h1 mat-dialog-title>Добавить статью</h1>
  </ng-template>

  
  <div mat-dialog-content>
    <form class="example-form" (ngSubmit)="onSubmit()">

      <mat-form-field>
        <input matInput placeholder="Название статьи" type="text" required [(ngModel)]="blogPost.title" name="name">
      </mat-form-field>

      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [(ngModel)]="blogPost.content" name="content" [disabled]="false" [placeholder]="'Содержимое статьи...'"></ngx-editor>
      </div>

      <mat-form-field>
        <mat-select matInput placeholder="Категория статьи" required [(ngModel)]="blogPost.category" name="category">
          <mat-option *ngFor="let cat of categories" [value]="cat.viewValue">
            {{ cat.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      
      <div mat-dialog-actions class="adding-form-btns">
          <button mat-raised-button type="submit" color="primary">Save</button>
          <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancel</button>
      </div>
    </form>
  </div>

</div>
