
<mat-card class="article-card">
    <mat-card-header>
      <mat-card-title>{{ (dataArticle | async)?.title }}</mat-card-title>
      <mat-card-subtitle>{{ (dataArticle | async)?.author }}</mat-card-subtitle>
      <mat-card-subtitle>{{ (dataArticle | async)?.date | date:'d MMMM y, HH:mm' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [innerHTML]="(dataArticle | async)?.content | safeHtml"></div>
    </mat-card-content>

    <mat-card-footer>
      <mat-card-subtitle><i>Автор {{ (dataArticle | async)?.author }}</i></mat-card-subtitle>
    </mat-card-footer>
    
    <mat-card-actions>
      <button class="edit-btn" mat-button color="primary" (click)="editPost()">Редактировать</button>
      <button class="delete-btn" mat-button color="primary" (click)="deletePost()">Удалить</button>
    </mat-card-actions>
</mat-card>